    .worker{
        display: flex;
        width: 95%;
        display: inline;
    }
    .nameAndAge {
        background-color: green;
        /* width: 30%;
        height: 30%; */
        flex-direction: row;
        width: 30vw;
        /* height: 30%; */
        margin: 5px;
        text-align: center;
    }

    .container{
        /* display: grid;
        grid-template-columns: auto auto auto; */
        margin: 5px;
        display: inline;
        display: flex;
        width: 95vw;
        
    }

    #photo{
        border-radius: 360px;
        width: 100px;
        height: 100px;
    }
        
    